/target/

# Rust tooling
**/*.rs.bk

# Local workspace state
/.idea/
/.vscode/
/.local/
/apps/desktop/dist/
/apps/desktop/node_modules/
/apps/desktop/src-tauri/gen/
/apps/desktop/.prettiercache
/apps/desktop/.eslintcache

